.select-button label {
  pointer-events: none;
}

.wrapper-div {
  position: sticky;
  top: 0;
  padding: 8px;
  /* padding-bottom: 8px; */
  background-color: #ffffff;
  z-index: 2;
  border-bottom: 1px solid var(--figma-color-border);
}

.wrapper-div label div {
  padding-top: 0 !important;
}